<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kosmo.a40fragmentlistview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.40FragmentListView">
        <activity android:name=".IdolView"></activity>
        <activity android:name=".BottomMenu" />
        <activity android:name=".MenuFragment3" />
        <activity android:name=".MenuFragment4" />
        <activity android:name=".MenuFragment2" />
        <activity android:name=".MenuFragment1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>